.gradient-custom-2 {

    /* fallback for old browsers */

    background: rgb(231, 145, 7);
    /* background: rgb(231,7,117); */
    background: linear-gradient(144deg, rgba(231,7,117,1) 35%, rgba(166,4,198,1) 59%, rgba(153,0,255,1) 91%);
    background: -webkit-linear-gradient(144deg, rgba(231,7,117,1) 35%, rgba(166,4,198,1) 59%, rgba(153,0,255,1) 91%);

    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh ;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    
    #createBtn{
        border: 2px solid rgb(255, 55, 152);
        color: rgb(255, 55, 152);
    }
    #createBtn:hover{
        background-color: rgb(255, 55, 152);
        color: white;
    }